<form class="form">
    <div class="row">
        <div class="col-sm-3 align-self-center">
            <h6 class="mb-0">First Name</h6>
        </div>
        <div class="col-sm-9 text-secondary">
            <input type="text" name="firstName" class="form-control" id="ptFirstName" value="Gerardo">
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-3 align-self-center">
            <h6 class="mb-0">Last Name</h6>
        </div>
        <div class="col-sm-9 text-secondary">
            <input type="text" name="lastName" class="form-control" id="ptLastName" value="Munoz">
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-3 align-self-center">
            <h6 class="mb-0">Email</h6>
        </div>
        <div class="col-sm-9 text-secondary">
            <input type="text" name="ptEmail" class="form-control" id="ptEmail" value="itomunoz@yahoo.com">
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-3 align-self-center">
            <h6 class="mb-0">Date of Birth</h6>
        </div>
        <div class="col-sm-9 text-secondary">
            <input type="date" name="ptDOB" class="form-control" id="ptDOB" value="1994-04-26">
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-3 align-self-center">
            <h6 class="mb-0">Phone Number</h6>
        </div>
        <div class="col-sm-9 text-secondary">
            <input type="tel" name="ptPhoneNumber" class="form-control" id="ptPhoneNumber" value="512-986-1629">    
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="com-sm-2 ms-auto">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
</form>