<div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">id</th>
              <th scope="col">type</th>
              <th scope="col">name</th> <!--patientId foreign key-->
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>message.sid</td>
              <td>Joe Mama</td>
            </tr>
            <tr>
              <td>2</td>
              <td>glasses</td>
              <td>Joe Mama</td>
            </tr>
            <tr>
              <td>3</td>
              <td>glasses</td>
              <td>Arnold Lee</td>
            </tr>
            
          </tbody>
        </table>
      </div>