<button><a href="">Refresh</a></button>
<div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Date of Birth</th> <!--patientId foreign key-->
              <th scope="col">Email</th>
              <th scope="col">Phone number</th>
              <th scope="col">Orders</th>
            </tr>
          </thead>
          <tbody>
            {{#each patients as |patient|}}
            {{> patient-data}}
            {{/each}}
            <tr>
              <td>first</td>
              <td>last</td>
              <td>1/1/1900</td>
              <td>fuck@you.com</td>
              <td>111 222 3333</td>
              <td>Pending</td>
            </tr>
            <tr>
              <td>first</td>
              <td>last</td>
              <td>1/1/1900</td>
              <td>fuck@you.com</td>
              <td>111 222 3333</td>
              <td>Pending</td>
            </tr>
            <tr>
              <td>first</td>
              <td>last</td>
              <td>1/1/1900</td>
              <td>fuck@you.com</td>
              <td>111 222 3333</td>
              <td>Completed</td>
            </tr>
            
          </tbody>
        </table>
      </div>